.about {
  margin: 0 0 150px 0;

  @media (max-width: 1023px) {
    margin: 0 0 70px 0;
  }
}

.about__wrapper {
  padding: 45px 10% 0;
  position: relative;

  @media (max-width: 1023px) {
    padding: 45px 4% 0;
  }
}

.about__wrapper picture {
  position: absolute;
  top: 35px;
  left: 11%;
  z-index: -1;

  @media (max-width: 1023px) {
    top: 35px;
    left: 1%;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.about__wrapper img {
  @media (max-width: 1023px) {
    width: 252px;
    height: 362px;
  }
}

.about__details {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 220px;

  @media (max-width: 1023px) {
    padding: 0 0 0 169px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.about__details h2 {
  display: block;
  max-width: 220px;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 36px;
  line-height: 51px;
  color: $grey;

  @include roboto-regular;

  @media (max-width: 1023px) {
    font-size: 32px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.about__details p {
  max-width: 984px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: $grey;

  @include ptmono;

  @media (max-width: 767px) {
    grid-row-gap: 40px;
  }
}

.about__details span {
  display: block;
}

.about__more {
  display: block;
  cursor: pointer;
  width: 180px;
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  border-radius: 5px;

  @include roboto-bold;

  &:hover {
    background-color: $blue;
    color: $white;
  }

  &:active {
    box-shadow: 0 0 5px 2px $grey;
  }
}
