.callback {
  width: 100%;
  background-color: $blue;
  padding: 95px 0 113px;

  @media (max-width: 1023px) {
    padding: 95px 0 91px;
  }

  @media (max-width: 767px) {
    padding: 44px 0 37px;
  }
}

.callback--nojs {
  display: none;
}

.callback__wrapper {
  padding: 0 19% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  z-index: 0;

  @media (max-width: 1023px) {
    flex-direction: column;
    padding: 0 12%;
    transform: translate(14px, 2px);
  }

  @media (max-width: 767px) {
    padding: 0 4% 0;
  }
}

.callback__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -2;
  width: 671px;
  height: 641px;
  background-image: url("../img/decoration-main-form-tr-plane-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -154px;
  left: 172px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.callback__wrapper::after {
  content: "";
  position: absolute;
  top: -69px;
  right: -255px;
  width: 510px;
  height: 670px;
  background-image: url("../img/decoration-main-form-tr-desktop.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -2;

  @media (max-width: 1023px) {
    display: none;
  }
}

.callback__wrapper picture {
  position: absolute;
  top: 68px;
  left: 348px;
  z-index: -1;

  @media (max-width: 1023px) {
    display: none;
  }
}

.callback__content {
  display: flex;
  flex-direction: column;
  max-width: 570px;
  transform: translate(-17px, 0);

  @media (max-width: 1023px) {
    max-width: 100%;
    transform: translate(-19px, -15px);
  }
}

.callback__content h2 {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  transform: translate(1px, -3px);

  @include roboto-regular;

  @media (max-width: 1023px) {
    font-size: 32px;
    line-height: 45px;
    margin: 0 0 9px 0;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 40px;
  }
}

.callback__content p {
  display: block;
  margin: 0 0 50px 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  transform: translate(4px, 1px);

  @include ptmono;

  @media (max-width: 767px) {
    margin: 0 0 21px 0;
  }
}

.callback__content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-column-gap: 30px;
  grid-row-gap: 33px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
  }

  @media (max-width: 767px) {
    grid-row-gap: 25px;
  }
}

.callback__content input {
  width: 100%;
  background: #{"hsla(0 0% 100% / 10%)"};
  border: 0;
  padding: 17px 24px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  opacity: 1;

  @include ptmono;
}

.callback__content input::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: $white;
  opacity: 1;

  @include ptmono;
}

.callback__content input:focus {
  background: $blue-bg-input;
}

.callback__content textarea {
  width: 100%;
  height: 160px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background: #{"hsla(0 0% 100% / 10%)"};
  border: 0;
  padding: 15px 18px;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  opacity: 1;
  margin: 0 0 10px 0;

  @include ptmono;

  @media (max-width: 1023px) {
    margin: 0 0 27px 0;
  }

  @media (max-width: 767px) {
    height: 104px;
    margin: 0 0 14px 0;
  }
}

.callback__content textarea::placeholder {
  font-size: 16px;
  line-height: 22px;
  color: $white;
  opacity: 1;

  @include ptmono;
}

.callback__content textarea:focus {
  background: $blue-bg-input;
}

.callback__button-wrapper {
  display: block;
  width: 100%;
}

.callback__button-wrapper button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;

  @include roboto-bold;
  background-color: $blue;
  border: 1px solid $white;
  border-radius: 5px;

  &:hover {
    color: $blue;
    background-color: $white;
  }

  &:active {
    box-shadow: 0 0 5px 2px $grey;
  }
}

.callback__checkbox-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.callback__checkbox-wrapper input + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
  top: 10px;
  left: 12px;
  cursor: pointer;

  @media (max-width: 767px) {
    top: 0;
    left: 0;
  }
}

.callback__checkbox-wrapper input:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 5px;
  top: 14px;
  left: 16px;
  background-image: url("../img/icon-checked.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: 767px) {
    top: 5px;
    left: 4px;
  }
}

.callback__checkbox-wrapper label {
  padding-left: 30px;
  position: relative;

  @media (max-width: 767px) {
    padding-left: 15px;
  }
}

.callback__checkbox-wrapper span {
  display: block;
  padding: 3px 0 0 15px;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;

  @include ptmono;

  @media (max-width: 767px) {
    padding: 1px 0 0 12px;
  }
}
