.footer-promo {
  @media (max-width: 1023px) {
    position: relative;
    margin: 0 0 20px 0;
  }

  @media (max-width: 767px) {
    margin: 0 0 81px 0;
  }
}

.footer-promo::after {
  @media (max-width: 1023px) {
    content: "";
    position: absolute;
    width: 150%;
    left: -121px;
    bottom: -29px;
    height: 1px;
    background-color: $grey-decoration;
    opacity: 0.2;
  }

  @media (max-width: 767px) {
    bottom: -48px;
  }
}

.footer-promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    transform: translate(-14px, -1px);
  }
}

.footer-promo__wrapper span {
  display: none;

  @media (max-width: 1023px) {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $dark;
    opacity: 0.5;

    @include ptmono;
  }

  @media (max-width: 767px) {
    margin: 0 0 28px;
  }
}

.footer-promo__wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 111px;
}

.footer-promo__logo {
  display: block;
  width: 207px;
  margin: 0 0 49px 0;

  @media (max-width: 1023px) {
    margin: 0;
  }

  @media (max-width: 767px) {
    margin: 0 0 23px;
  }
}

.footer-promo__wrapper svg {

  fill: $grey-social;
  cursor: pointer;

  &:hover {
    fill: $dark;
  }
}
