.footer-navigation__wrapper {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: min-content;
  justify-items: flex-end;

  @media (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 0;
    justify-content: space-between;
  }
}

.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 36px 0 0;
}

.footer-navigation__list--sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
}

.footer-navigation__list--address {
  display: flex;
  flex-direction: column;
}

.footer-navigation__item h3 {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $dark;

  @include roboto-regular;
}

.footer-navigation__item p {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 15px;
  line-height: 25px;
  color: $dark;
  opacity: 0.5;

  @include ptmono;
}

.footer-navigation__item a {
  display: block;
  font-size: 15px;
  line-height: 25px;
  color: $dark;
  opacity: 0.5;

  @include ptmono;
}
