.header-promo {
  display: flex;
  flex-direction: column;
  z-index: 3;

  @media (max-width: 1023px) {
    padding-left: 55px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.header-promo h1 {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  max-width: 718px;

  @include roboto-bold;

  @media (max-width: 1023px) {
    font-size: 60px;
    line-height: 70px;
    max-width: 470px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 47px;
    min-width: 277px;
  }
}

.header-promo p {
  display: block;
  position: relative;
  margin: 0 0 30px 90px;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
  color: $white;
  max-width: 638px;

  @include ptmono;

  @media (max-width: 1023px) {
    font-size: 18px;
    max-width: 356px;
    margin: 0 0 30px 46px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    min-width: 245px;
  }
}

.header-promo p::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 66px;
  background-color: $white;
  top: 17px;
  left: -85px;

  @media (max-width: 1023px) {
    width: 33px;
    left: -43px;
  }
}

.header-promo__button {
  display: block;
  margin: 0 0 0 90px;
  padding: 14px 30px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  width: 400px;
  border-radius: 5px;
  background-color: $blue;
  text-align: center;

  @include roboto-bold;

  @media (max-width: 1023px) {
    margin: 0 0 0 46px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.header-promo__button--mobile {
  display: none;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    margin: 0;
  }
}
