.page-header {
  width: 100%;
  min-height: 950px;
  background-image: url("../img/bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-desktop@2x.png");
  }

  @media (max-width: 1023px) {
    background-image: url("../img/bg-tablet@1x.png");
    min-height: 685px;
  }

  @media (max-width: 1023px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-tablet@2x.png");
  }

  @media (max-width: 767px) {
    background-image: url("../img/bg-mobile@1x.png");
    min-height: 647px;
  }

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../img/bg-mobile@2x.png");
  }
}

.page-header__wrapper {
  width: 100%;
  padding: 20px 7% 0 7%;
  display: flex;
  flex-direction: column;
}

.page-header__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 0 300px 0;
}

.page-header__contacts {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

.page-header__contacts a:not(:last-child) {
  margin-right: 60px;
}

.page-header__link span {
  color: $white;
  font-size: 16px;
  line-height: 18px;

  @include ptmono;
}

.page-header__order-call {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  padding: 9px 23px;
  border: 1px solid $white;
  border-radius: 5px;

  @include roboto-bold;
}
