// Colors

$white: #ffffff;
$blue: #00b2ff;
$blue-bg-input: #1F60B7;
$dark: #1b2d37;
$grey: #666666;
$grey-light: #ebebeb;
$grey-decoration: #626962;
$grey-social: #cdcdcd;


// - мобильная версия — 320px - 767px;
// - планшетная версия — 768px - 1023px;
// - десктопная версия — от 1024px и выше
